{% extends "base.html" %}

{% block title %}Home | NutriAware {% endblock %}

{% block content %}
    <h1>Latest Posts</h1>

    {% if posts %}
        {% for post in posts %}
            <article style="margin-bottom: 2rem;">
                
                <h2><a href="{% url 'dynamic_view' post.id %}">{{ post.title }}</a></h2>
                
                <p>{{ post.content|truncatewords:8 }}</p>
                
                <a href="{% url 'dynamic_view' post.id %}">Read more...</a>
            </article>
        {% endfor %}
    {% else %}
        <p>No blog posts have been written yet!</p>
    {% endif %}

{% endblock %}